# Visual Studio / .NET
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
*.nupkg
project.lock.json
project.fragment.lock.json
**/packages/*
!**/packages/build/

# Mac system files
.DS_Store

# Rhino Package Manager files
*.yak

# Rhino backup files
*.bak
*.3dmbak
*.dmp
